<div class="list-root">
    <div>
        <label class="msg" *ngIf="!showList">Enter valid page no to get users</label>
        <form class="pageForm" [formGroup]="pageForm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Page No</mat-label>
                <input matInput formControlName="pageNo" required placeholder="Page No.">
            </mat-form-field>
        </form>
        <button class="btn" mat-raised-button color="primary" (click)="showUsers()">Show User List</button>
    </div>

    <div *ngIf="showList">
        <div class="userlist">
            <mat-form-field appearance="outline">
                <mat-label>Select User</mat-label>
                <mat-select [(ngModel)]="selectedUser">
                    <mat-option *ngFor="let user of userList" [value]="user.id">
                        {{user.first_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <button class="btn" mat-raised-button color="primary" (click)="showUserInfo()">View Details</button>
        </div>
    </div>
</div>
